In [12]:
import tensorflow as tf

In [13]:
import pandas as pd

In [113]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
users=pd.read_csv('dataset.csv')

In [15]:
 users.head(10)

,id,Nombre y Apellido,Edad,Intereses,Bio (Basada en referencias),Lenguaje del amor,Imagen (Prompt visual)
0,1,Alba Rodríguez,24,"Techno, Festivales, Afters",Vayamos al grano: me gusta la fiesta dura. Si ...,Tiempo de calidad (Fiesta),"Club oscuro, flashazo, chica con pelo platino ..."
1,2,Marina López,27,"Arquitectura, Museos, Café",Intentando ser arquitecta y no morir en el int...,Actos de servicio,"Cafetería minimalista, luz natural, chica con ..."
2,3,Carla Romero,20,"Skate, Punk, Tatuajes","Mido 1,56 :( pero tengo carácter de sobra. Me ...",Contacto físico,"Skatepark al atardecer, chica bajita con gorro..."
3,4,Emma Müller,23,"Idiomas, Viajes, Tapas",It helps if u speak Spanish (extrangera). Lear...,Palabras de afirmación,"Plaza soleada en España, chica rubia de aspect..."
4,5,Martina García,26,"Moda, Instagram, Pilates","No es ser superficial, es tener estándares. Me...",Recibir regalos,"Terraza chic, chica ""fresa"" con blazer sobre l..."
5,6,Andrea Martín,22,"Humor negro, Ocultismo",Si no te mola el humor negro no me conozcas. M...,Palabras de afirmación,"Tienda de antigüedades, filtro granulado, chic..."
6,7,Sara Sánchez,28,"Senderismo, Camping, Furgo",Personas directas y planes improvisados. La ci...,Tiempo de calidad,"Cima de montaña, chica con ropa técnica (Quech..."
7,8,Paula Ruiz,19,"TikTok, Reggaetón, Uñas",Idk why im here. Looking for friends maybe. Me...,Contacto físico,"Selfie en espejo de baño, chica con top brilla..."
8,9,Carmen Torres,25,"Poesía, Jazz, Vino tinto","Un alma vieja. Disfruto conocer cosas nuevas, ...",Palabras de afirmación,"Bar de jazz con luz tenue, chica con pelo riza..."
9,10,Clara Jiménez,21,"Voluntariado, Yoga, Vegano",Im not perfect but im kind. Intento dejar el m...,Actos de servicio,"Refugio de animales, chica abrazando a un perr..."

In [16]:
users.columns

Index(['id', 'Nombre y Apellido', 'Edad', 'Intereses',
       'Bio (Basada en referencias)', 'Lenguaje del amor',
       'Imagen (Prompt visual)'],
      dtype='object')

In [17]:
users=users[['id', 'Nombre y Apellido', 'Intereses', 'Bio (Basada en referencias)']]

In [18]:
users['name'] = users['Nombre y Apellido']

In [19]:
users['bio'] = users['Bio (Basada en referencias)']

In [20]:
users['int'] = users['Intereses']

In [28]:
users['intdo'] = users['int'] + users['bio']

In [22]:
users

,id,Nombre y Apellido,Intereses,Bio (Basada en referencias),name,bio,int,intdo
0,1,Alba Rodríguez,"Techno, Festivales, Afters",Vayamos al grano: me gusta la fiesta dura. Si ...,Alba Rodríguez,Vayamos al grano: me gusta la fiesta dura. Si ...,"Techno, Festivales, Afters","Techno, Festivales, AftersVayamos al grano: me..."
1,2,Marina López,"Arquitectura, Museos, Café",Intentando ser arquitecta y no morir en el int...,Marina López,Intentando ser arquitecta y no morir en el int...,"Arquitectura, Museos, Café","Arquitectura, Museos, CaféIntentando ser arqui..."
2,3,Carla Romero,"Skate, Punk, Tatuajes","Mido 1,56 :( pero tengo carácter de sobra. Me ...",Carla Romero,"Mido 1,56 :( pero tengo carácter de sobra. Me ...","Skate, Punk, Tatuajes","Skate, Punk, TatuajesMido 1,56 :( pero tengo c..."
3,4,Emma Müller,"Idiomas, Viajes, Tapas",It helps if u speak Spanish (extrangera). Lear...,Emma Müller,It helps if u speak Spanish (extrangera). Lear...,"Idiomas, Viajes, Tapas","Idiomas, Viajes, TapasIt helps if u speak Span..."
4,5,Martina García,"Moda, Instagram, Pilates","No es ser superficial, es tener estándares. Me...",Martina García,"No es ser superficial, es tener estándares. Me...","Moda, Instagram, Pilates","Moda, Instagram, PilatesNo es ser superficial,..."
...,...,...,...,...,...,...,...,...
95,96,"Celia ""Ce""","Astrología, Horóscopo, Magia","Segunda oportunidad a lovesync! Soy Piscis, as...","Celia ""Ce""","Segunda oportunidad a lovesync! Soy Piscis, as...","Astrología, Horóscopo, Magia","Astrología, Horóscopo, MagiaSegunda oportunida..."
96,97,Raquel B.,"Voluntariado, Social, ONG",Im not perfect but im kind. Trabajo en una ONG...,Raquel B.,Im not perfect but im kind. Trabajo en una ONG...,"Voluntariado, Social, ONG","Voluntariado, Social, ONGIm not perfect but im..."
97,98,"Marta ""Tita""","Tiktok, Bailes, Risas",Holaaaaaaa. Soy un terremoto. Me paso el día g...,"Marta ""Tita""",Holaaaaaaa. Soy un terremoto. Me paso el día g...,"Tiktok, Bailes, Risas","Tiktok, Bailes, RisasHolaaaaaaa. Soy un terrem..."
98,99,Abril,"Libros, Café, Lluvia","Mido 1,50 solo, tamaño de bolsillo. Ratón de b...",Abril,"Mido 1,50 solo, tamaño de bolsillo. Ratón de b...","Libros, Café, Lluvia","Libros, Café, LluviaMido 1,50 solo, tamaño de ..."
99,100,Zoe,"Todo, Curiosa, Vida",Disfruto conocer cosas nuevas. Un día hago esc...,Zoe,Disfruto conocer cosas nuevas. Un día hago esc...,"Todo, Curiosa, Vida","Todo, Curiosa, VidaDisfruto conocer cosas nuev..."

In [30]:
users_new = users.drop(columns=['Nombre y Apellido', 'Bio (Basada en referencias)', 'Intereses', 'int', 'bio'])

In [31]:
users_new

     id            name                                              intdo
0     1  Alba Rodríguez  Techno, Festivales, AftersVayamos al grano: me...
1     2    Marina López  Arquitectura, Museos, CaféIntentando ser arqui...
2     3    Carla Romero  Skate, Punk, TatuajesMido 1,56 :( pero tengo c...
3     4     Emma Müller  Idiomas, Viajes, TapasIt helps if u speak Span...
4     5  Martina García  Moda, Instagram, PilatesNo es ser superficial,...
..  ...             ...                                                ...
95   96      Celia "Ce"  Astrología, Horóscopo, MagiaSegunda oportunida...
96   97       Raquel B.  Voluntariado, Social, ONGIm not perfect but im...
97   98    Marta "Tita"  Tiktok, Bailes, RisasHolaaaaaaa. Soy un terrem...
98   99           Abril  Libros, Café, LluviaMido 1,50 solo, tamaño de ...
99  100             Zoe  Todo, Curiosa, VidaDisfruto conocer cosas nuev...

[100 rows x 3 columns]

In [40]:
stop_words_es = ['el', 'la', 'los', 'las', 'de', 'y', 'a', 'en']

In [44]:
cv=CountVectorizer(max_features=100, stop_words=stop_words_es)

In [47]:
vector=cv.fit_transform(users_new['intdo'].values.astype('U')).toarray()

In [86]:
vector.shape

(100, 100)

In [88]:
similaridad=cosine_similarity(vector)

In [89]:
similaridad

array([[1.        , 0.25354628, 0.42919754, ..., 0.47245559, 0.23904572,
        0.07715167],
       [0.25354628, 1.        , 0.21764288, ..., 0.4472136 , 0.28284271,
        0.        ],
       [0.42919754, 0.21764288, 1.        , ..., 0.48666426, 0.20519567,
        0.13245324],
       ...,
       [0.47245559, 0.4472136 , 0.48666426, ..., 1.        , 0.31622777,
        0.30618622],
       [0.23904572, 0.28284271, 0.20519567, ..., 0.31622777, 1.        ,
        0.12909944],
       [0.07715167, 0.        , 0.13245324, ..., 0.30618622, 0.12909944,
        1.        ]])

In [111]:
def recomendacion(persona):
    indexi=users_new[users_new['name']==persona].index[0]
    distance = sorted(list(enumerate(similaridad[indexi])), reverse=True, key=lambda vector:vector[1])
    for i in distance[1:5]:
        print(users_new.iloc[i[0]]['name'])

In [112]:
recomendacion("Zoe")

Julia Ruiz
Aida Gómez
Lola Ibáñez
Mireia Sol

In [90]:
users_new[users_new['name']=='Abril']

    id   name                                              intdo
98  99  Abril  Libros, Café, LluviaMido 1,50 solo, tamaño de ...

In [91]:
users_new[users_new['name']=='Abril'].index[0]

98

In [92]:
distance = sorted(list(enumerate(similaridad[2])), reverse=True, key=lambda vector:vector[1])

In [94]:
for i in distance[0:5]:
    print(users_new.iloc[i[0]]['name'])

Carla Romero
Ainhoa Puig
Sonia Pires
Elsa Durán
Marta "Tita"

In [114]:
import pickle

In [115]:
pickle.dump(users_new, open('users_df.pkl', 'wb'))

In [116]:
pickle.dump(cv, open('vectorizer.pkl', 'wb'))

In [117]:
pickle.dump(vector, open('user_vectors.pkl', 'wb'))